/**** #CSS ****/

/**
 *   动画设计
 */

/* -> 底部心跳 */
@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(-50%, -20px);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -20px);
  }
}

@keyframes down {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

/****************** end ******************/

html, body {
  height: 100%;
  font: 14px/1 "Microsoft YaHei","Hiragino Sans GB",Helvetica,Arial,sans-serif;
  color: #666;
  overflow: hidden;
}

.wrap {
  position: relative;
  height: 100%;
  background: #fff;

  * {
    @include box-sizing(border-box);
  }
}

.hidden {
  visibility: hidden!important;
}

.page-panel {
  height: 100%;

  & > .page {
    position: relative;
    height: 100%;
    background: #fff;
    overflow: hidden;
  }
}

/* #1 */

/**
 *   侧边控制栏
 */
.slider-control {
  position: fixed;
  right: 15px;
  top: 50%;
  z-index: 10;
  width: 65px;
  @include transform(translate(0, -50%));

  li {
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include transform(scale(1.1));
    }

    & + li {
      margin-top: 10px;
    }

    &:before {
      display: inline-block;
      content: attr(content);
      width: 10px;
      height: 10px;
      margin: 5px auto;
      color: transparent;
      background: #bfbfbf;
      @include border-radius(20px);
      overflow: hidden;
    }

    &.active:before {
      width: auto;
      height: auto;
      margin: 0 auto;
      padding: 0 8px;
      line-height: 20px;
      white-space: nowrap;
      color: #fff;
    }
  }
}

/***************** end *******************/

/* #2 */

/**
 *   底部心跳
 */
.down {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 10;
  text-align: center;
  cursor: pointer;

  p {
    line-height: 1.6;
    @extend %user-select-none;
  }

  strong {
    font-weight: 700;
  }

  .down-arrows {
    position: relative;
    width: 104px;
    height: 16px;
    margin: 5px auto 0;
    background: url($image_path + "down-arrows.png");
  }
}

/**************** end ******************/

/* #3 */

/**
 *   舞台
 */
.stage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 900px;
  height: 500px;
  margin: auto;
  @extend %user-select-none;
}

/************** end ****************/

/**
 *   digit
 */
.digit-box {
  @extend %display-flex;
  @include flex-wrap(nowrap);
  @include justify-content(space-between);

  & > li {
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
  }

  .digit-cn {
    font-size: 12px;
    color: #999;
    white-space: nowrap;
  }
}

/************* end ***************/

/**
 *   label
 */
.label {
  width: 8px;
  height: 70px;

  &:before {
    position: absolute;
    left: 0;
    content: "";
    border: 4px solid #b5b5b5;
    @include border-radius(10px);
  }

  &:after {
    position: absolute;
    left: 50%;
    content: "";
    height: 45px;
    border-left: 1px solid #b5b5b5;
  }

  span {
    position: absolute;
    left: 50%;
    white-space: nowrap;
    @include transform(translateX(-50%));

    &:before {
      content: attr(counter);
      @extend %decimal;
    }
  }

  @at-root .label-up {
    &:before, &:after {
      bottom: 0;
    }

    span {
      top: 0;
    }
  }

  @at-root .label-down {
    &:before, &:after {
      top: 0;
    }

    span {
      bottom: 0;
    }
  }
}

/************ end ***************/

/**
 *   decimal
 */
.decimal {
  counter-increment: decimal;

  &:before {
    content: counter(decimal);
    @extend %decimal;
  }
}

/************ end **************/

/**
 *   summary common
 */
.summary-box {
  position: absolute;
  width: 340px;
  padding: 55px 0 0 65px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
  }

  @at-root .summary {
    position: absolute;

    @at-root .summary-title {
      width: 100px;
      font-size: 24px;
      font-weight: 900;
      color: #333;

      &:after {
        display: block;
        content: "";
        width: 40px;
        margin: 25px 0;
        border-top: 2px solid #e2e2e2;
      }
    }

    @at-root .summary-section {
      display: inline-block;
      line-height: 1.8;

      & + .summary-section {
        margin-top: 10px;
      }
    }
  }
}

.summary-box-1 {
  &:before {
    left: 0;
    content: url($image_path + "01.png");
  }

  .digit-box {
    width: 330px;
    margin-top: 40px;
  }
}

.summary-box-2 {
  top: 110px;
  right: -55px;

  &:before {
    left: 50px;
    content: url($image_path + "02.png");
  }

  .summary {
    left: 0;
  }

  .decimal + .decimal {
    margin-top: 5px;
  }
}

.summary-box-3 {
  &:before {
    left: 0;
    content: url($image_path + "03.png");
  }
}

/***************** end ******************/

/**
 *   stage common
 */
.main-stage {
  position: absolute;
  top: 0;
  width: 600px;
  height: 500px;
}
/* stage 1 */
.main-stage-1 {
  top: 30px;
  right: 0;

  .chunk-1 {
    position: absolute;
    top: -80px;
    right: -60px;
    z-index: 2;
  }

  .chunk-2 {
    position: absolute;
    top: 50px;
    left: 35px;
    z-index: 1;
  }
}
/* stage 2 */
.main-stage-2 {
  top: 100px;
  left: -25px;

  .label {
    position: absolute;
    z-index: 5;
  }

  .chunk-box {
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
    }
  }

  .chunk-box-1 {
    position: absolute;
    left: -40px;
    z-index: 2;
    width: 496px;
    height: 293px;

    &:after {
      width: 245px;
      height: 375px;
    }

    .label {
      left: 210px;
      top: -60px;
    }
  }

  .chunk-box-2 {
    position: absolute;
    top: -105px;
    left: 285px;

    &:after {
      width: 120px;
      height: 100px;
    }

    .label {
      left: 100px;
      top: -5px;
    }
  }

  .chunk-box-3 {
    position: absolute;
    top: -35px;
    left: 415px;

    &:after {
      width: 120px;
      height: 100px;
    }

    .label {
      left: 60px;
      top: 128px;
    }
  }

  .chunk-1, .chunk-2, .chunk-3 {
    position: absolute;
    z-index: 1;
  }

  .fragment-box {
    .fragment {
      position: absolute;
      z-index: 1;
    }

    &:after {
      position: absolute;
      content: "";
    }
  }

  .fragment-box-1-1 {
    position: absolute;
    top: -60px;
    left: 105px;
    z-index: 2;

    &:after {
      width: 60px;
      left: 65px;
      top: 135px;
    }
  }

  .fragment-box-3-1 {
    position: absolute;
    top: 50px;
    left: -35px;
    z-index: 2;

    &:after {
      left: 35px;
      top: 100px;
    }
  }

}
/* stage 3 */
.main-stage-3 {
  right: 0;
  width: 680px;

  .chunk-box-1 {
    position: relative;
  }

  .chunk-1, .layer, .fragment-box {
    position: absolute;
    left: 0;
    top: 0;
  }

  .chunk-1 {
    z-index: 3;
  }

  .layer {
    width: 684px;
    height: 412px;
    background: #fff;
    @include border-radius(20px);

    &:before {
      display: block;
      content: "";
      width: 677px;
      height: 405px;
      @include border-radius(20px);
    }
  }

  .layer-1 {
    z-index: 2;
    left: 17px;
    top: 18px;
    overflow: hidden;
  }

  .layer-2 {
    left: 26px;
    top: 26px;
  }

  .fragment-box {
    top: 12px;
    z-index: 4;
  }

  .fragment-box-3-1 {
    left: -10px;
  }

  .fragment-box-3-2 {
    left: 200px;
  }

  .fragment-box-3-3 {
    left: 400px;
  }

  .fragment-box {
    &:after {
      display: block;
      content: "";
      width: 80px;
    }
  }

  .fragment-box-3-3 {
    &:after {
      width: 220px;
    }
  }
}

/*************** end ***************/
