@require './code'
@require './custom-block'
@require './toc'

@font-face {
  font-family: 'iconfont';  /* project id 323841 */
  src: url('//at.alicdn.com/t/font_323841_nhh74ps3ook.eot');
  src: url('//at.alicdn.com/t/font_323841_nhh74ps3ook.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.woff') format('woff'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.svg#iconfont') format('svg');
}

.iconfont
  font-family 'iconfont'
  font-size inherit
  font-style normal

 html, body
  margin 0
  padding 0
  font 400 16px/1.4 -apple-system, BlinkMacSystemFont, 'PingFang SC', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $textColor
  background #f9f9f9 url(/light_wool.png) repeat
 
.container
  max-width $maxWidth
  margin 0 auto

@media screen and (max-width: $maxWidth)
  .container
    padding 0 15px

.content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    .header-anchor
      display none

.content
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover
    .header-anchor
      display inline

.main
  margin-top 80px
  margin-bottom 80px
  overflow hidden

.content:not(.custom)
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 100%

.content.custom
  padding 0
  margin 0
  img
    max-width 100%

a
  font-weight 500
  color $accentColor
  text-decoration none

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size .9rem
  color #999
  border-left .5rem solid #dfe2e5
  margin 0.5rem 0
  padding .25rem 0 .25rem 1rem
  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25
  .content:not(.custom) > &
    margin-bottom 0
    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.35rem

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

@media screen and (max-width: $maxWidth)
  .main
    margin-top 54px


// ---  工具类 ---

@media screen and (max-width: $maxWidth)
  .only-pc
    display none

.no-list-style
  list-style none
  margin 0
  padding 0

.clearfix
  &:after
    content ""
    display table
    clear both

.fl
  float left

.fr
  float right

.middle
  vertical-align middle

.center
  text-align center

.left
  text-align left

.right
  text-align right
