@import './code'
@import './custom-block'
@import './toc'

@font-face {
  font-family: 'iconfont';  /* project id 323841 */
  src: url('//at.alicdn.com/t/font_323841_nhh74ps3ook.eot');
  src: url('//at.alicdn.com/t/font_323841_nhh74ps3ook.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.woff') format('woff'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_323841_nhh74ps3ook.svg#iconfont') format('svg');
}

.iconfont
  font-family 'iconfont'
  font-size inherit
  font-style normal

 html, body
  margin 0
  padding 0
  font 400 16px/1.4 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  color $textColor
  background #f9f9f9 url(/light_wool.png) repeat
 
.container
  max-width $maxWidth
  margin 0 auto

@media screen and (max-width: $maxWidth)
  .container
    padding 0 15px

.content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    .header-anchor
      display none

.content
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover
    .header-anchor
      display inline

.main
  margin-top 80px
  margin-bottom 80px

@media screen and (max-width: $maxWidth)
  .main
    margin-top 54px


// ---  工具类 ---

@media screen and (max-width: $maxWidth)
  .only-pc
    display none

.no-list-style
  list-style none
  margin 0
  padding 0

.clearfix
  &:after
    content ""
    display table
    clear both

.fl
  float left

.fr
  float right

.middle
  vertical-align middle

.center
  text-align center

.left
  text-align left

.right
  text-align right
